@import url("reset.css");


body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #2b2d42;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
}

.logo {
    text-decoration: none;
    color: white;
    font-size: 24px;
    letter-spacing: 2px;
    margin-left: 20px;
}

.btn {
    cursor: pointer;
    outline: none;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #ef233c;
    border-radius: 5px;
    transition: transform .3s ease-in-out;
    margin-right: 20px;
}

.btn:hover {
    transform: scale(1.05);
}

.container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    max-width: 1200px;
    margin: 60px auto;
    padding: 20px;
}

.sidebar {
    background-color: #fff;
    padding: 20px;
    overflow-y: scroll;
    max-height: calc(100vh - 120px);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar h5 {
    font-size: 16px;
}

.list-group {
    list-style-type: none;
    padding: 0;
}

.list-group-item {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    transition: transform .3s ease-in-out;
}

.list-group-item:hover {
    transform: translateY(-5px);
    background-color: #f1f1f1;
}

.main-content {
    background-color: #fff;
    padding: 20px;
    min-height: 600px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.card {
    width: 300px;
    height: 400px;
    background-color: #fafafa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    margin: auto;
    transition: transform 0.3s ease-in-out;
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.card button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff5a5f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}

.card button:hover {
    background-color: #cc4b4c;
}
